.wrap {
    width: 100%;

    background-image: url("../img/fon.png");
    background-size: cover;
    font-family:sans-serif;
}

.clear::after {
    content: "";
    display: table;
    clear: both;
}
.container {
    width: 1060px;
    height: 768px;
    margin: 0 auto;
    color: white;
}
.container a {
    color: white;
    text-decoration: none;
}
.header {
    float:left;
    width: 1060px;
    height: 80px;
    margin-top: 49px;
}
.logo {
    float: left;
}
.logo-image {
    float: left;
    background-image:url("../img/logo.png");
    background-size: cover;
    width: 46px;
    height: 44px;
}
.logo:hover .logo-image {
    background-image:url("../img/logo2.png");
}

.logo:hover .milan-logo{
    color: #f26522;
}

.milan-logo {
    float: right;
    margin-left: 15px;
}
.pclass-milan {
    font-size: 29px;
}
.pclass-holidays {
    font-size: 18px;
}
.contakt {
    float: right;
}
.pclass-kontakt {
    font-size: 18px;
}
.pclass-telefon {
    font-size:16px;
    text-align: right;
}
.class-image{
    display: inline-block;
    float: left;
    width: 307px;
    height: 241px;
    margin-bottom: 57px;
    margin-right: 68px;
    overflow:hidden;
}
.image-block{
    width: 100%;
    height: 200px;
    position: relative;
}
.element-image {
    height: 200px;
}

.hidden-block{
    height: 65px;
    width: 100%;
    background: red;
    position: absolute;
    bottom: 0;
    display: none;
    text-align: left;
}

.class-image:hover .hidden-block{
    display: block;
}
.class-evro {
    text-align: left;
    color: white;
    margin-left: 20px;
    margin-top: 16px;
    display: inline-block;
}
.classfrom {
    font-size: 10px;
}
.evro {
    font-size: 20px;
}
.class-details {
    font-size: 14px;
    color: white;
    display: inline-block;
    margin-left: 144px;
}
.no-margin{
    margin-right: 0;
}

.p-class-images {
    margin-top:22px;
    text-align: center;
}
.classfooter {
    float: bottom;
    text-align: center;
    font-size: 12px;
}

.class-image:hover{
    color: #f26522;
}

