/*----------- контейнер----------*/
.container {
    background-color: #3a4965;
    width: 1192px;
    height: 736px;
    margin: 50px auto;
}

.friend-MARGIN {
    display: inline-block;
    margin-top: 24px;
    margin-left: 22px;
}

/*----------колір background---------*/
.row3 td {
    background-color: #f2f2f2;
}

.row4 td {
    background-color: #e3e3e3;
}
.row9column1 {
    background-color: #dddddd;
}
.ecolor {
    background-color: #eeeeee;
}
.f4color {
    background-color: #f4f4f4;
}

/* ---------Настройка таблиці------------*/
.theTable {
    box-sizing: border-box;
    border-collapse: collapse; /*убираем пустые промежутки между ячейками*/
    border: 1px solid grey; /*устанавливаем для таблицы внешнюю границу серого цвета толщиной 1px*/
    width: 1140px;
    height: 680px;
    text-transform: uppercase;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    font-family: 'Arimo', sans-serif;
    background-color: #fafafa;
    font-size: 16px;
    font-weight: 400;
}
td {
    box-sizing: border-box;
    border: 1px solid #dadada;
}

/* ------1 ряд----------------- */

.p-Choose {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}

.p-plan {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}
.class-standart {
    height: 70px;
    width: 277px;
    background-color: #89c331;
    color: white;
    font-weight: bold;
    font-size: 18px;
}
.class-ulta {
    height: 70px;
    width: 277px;
    background-color: #f04a56;
    color: white;
    font-weight: bold;
    font-size: 22px;
}
.class-premium {
    height: 70px;
    width: 277px;
    background-color: #20807c;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

/* ------------2 ряд---------------*/
.second-standart {
    height: 86px;
}
.big {
    display: inline-block;
    font-size: 50px;
}
.money {
    display: inline-block;
}
.cent {
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}
.class-month {
    font-size: 14px;
    margin: 0;
}

/* -------------Кнопки--------------- */
.a-table {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 49px;
    width: 192px;
    border-radius: 5px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 19px;
    text-decoration: none;
    margin: 0 auto;
}

.first-a {
    background-color: #484848;
}
.first-a:hover {
    background:linear-gradient(45deg,#3bade3 0%,#576fe6 25%,#9844b7 51%,#ff357f 100%);
}

.second-a {
    background-color: #89c331;
}
.second-a:hover {
    background:linear-gradient(45deg, green, yellow, blue);
    color: #000000;
}
.third-a {
    background-color: #f04a56;
}
.third-a:hover {
    border-top: 5px solid black;
    border-bottom: 5px solid black ;
}

.four-a {
    background-color: #20807c;
}
@keyframes heartBeat {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    14% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }

    28% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    42% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }

    70% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
.heartBeat:hover {
    -webkit-animation-name: heartBeat;
    animation-name: heartBeat;
    -webkit-animation-duration: 1.3s;
    animation-duration: 1.3s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}