.conteiner {
    height: 1626px;
    width: 1280px;
    margin: 0 auto;
    font-family: ﻿AdobeInvisFont, ﻿Roboto-Black, ﻿Courier;
}

.navmenu {
    height: 81px;
    width: 1280px;
    text-align: center;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}

.navmenu ul {
    vertical-align: middle;
    padding-top: 24px;
    margin: 0;
    padding-inline-start: 0px
}

.navmenu li {
    display: inline-block;
    margin-right: 32px;
    margin-left: 32px;
    padding: 0;
    list-style-type: none;
    text-align: center;
    vertical-align: middle;
}

.navmenu a {
    text-decoration: none;
    font-size: 24px;
    font-family: sans-serif;
    color: #16a085;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

a:hover {
    background: #16a085; /* Цвет фона под ссылкой */
    color: white; /* Цвет ссылки */
}

.image {
    margin: 0;
    padding: 0;
    display: block;
}

.text {
    height: 650px;
    weight: 1280px;
    text-align: center;
    background-color: #f5f6f7;
    margin: 0;
    padding: 0 100px;
}

.text p {
    font-size: 22px;
    margin: 0;
    padding-bottom: 34px;
    letter-spacing: 2px;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding-top: 56px;
    padding-bottom: 34px;
}

.button a {
    display: block;
    width: 192px;
    padding: 20px 0;
    text-transform: uppercase;
    color: white;
    background-color: #16a085;
    font-family: sans-serif;
    font-size: 16px;
    text-align: center;
    border: 0;
    border-radius: 5px;
    margin: 0 auto;
    cursor: pointer;
    text-decoration: none;
}

footer {
    text-align: right;
    padding-right: 104px;
    font-size: 24px;
    padding-top: 41px;
}

