.container {
    background-image: url("../img/fon.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.class-header {
    width: 100%;
    height: 56px;
    background:rgba(0,0,0, 0.4);
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.class-logo {
    float: left;
    margin-left: 81px;
    margin-top: 22px;
}
.a-journey {
    font-size: 18px;
    color: white;
    text-decoration: none;
}
.a-journey:hover {
    color: #3cb878;
}
.class-menu {
    float: right;
    margin-right: 75px;
    margin-top: 18px;
}
.class-item {
    display: inline-block;
}
.class-item::after {
    content: "";
    display: inline-block;
    height: 19px;
    border-right: 1px solid white;
    margin: 0 24px;
}
.a-margin {
    margin-left: 28px;
}
.sprite-calculator:hover {
    width: 19px;
    height: 19px;
    background-position: -5px -5px;
}
.sprite-massage:hover {
    width: 28px;
    height: 20px;
    background-position: -5px -65px;
}
.sprite-kompas:hover {
    width: 20px;
    height: 20px;
    background-position: -83px -5px;
}

.sprite {
    background-image: url("../img/spritesheet.png");
    background-repeat: no-repeat;
    display: inline-block;
}

.sprite-calcgreen {
    width: 19px;
    height: 19px;
    background-position: -5px -5px;
}

.sprite-calculator {
    width: 19px;
    height: 19px;
    background-position: -34px -5px;
}

.sprite-fb {
    width: 10px;
    height: 20px;
    background-position: -63px -5px;
}

.sprite-google {
    width: 25px;
    height: 16px;
    background-position: -5px -34px;
}

.sprite-kompas {
    width: 20px;
    height: 20px;
    background-position: -40px -35px;
}

.sprite-kompasgreen {
    width: 20px;
    height: 20px;
    background-position: -83px -5px;
}

.sprite-massage {
    width: 28px;
    height: 20px;
    background-position: -70px -35px;
}

.sprite-massagegreen {
    width: 28px;
    height: 20px;
    background-position: -5px -65px;
}

.p-welcome {
    display: inline-block;
    color: white;
}
.class-section {
    box-sizing: border-box;
    position: relative;
    width: 444px;
    height: 584px;
    border-radius: 7px;
    background: #ffffff;
    margin: 65px auto 0 auto;
}
.greenkub {
    position: absolute;
    left: 0px;
    top: 29px;
    height: 18px;
    width: 18px;
    background: #3cb878;

}
.sign-top {
    padding-top: 29px;
    margin-bottom: 15px;
}

.p-sign {
    display: inline-block;
    font-size: 20px;
    color: black;
    margin-left: 60px;
}
.login {
    text-decoration: none;
    color: #3cb878;
    font-size: 14px;
}
.a-sign {
    margin-left: 205px;
}
.face-google {
    height: 46px;
    width: 328px;
    margin: 0 auto;
}
.face {
    box-sizing: border-box;
    float: left;
    width: 157px;
    height: 46px;
    background: #305db8;
    border-radius: 4px;
}
.face:hover {
    background-color: #264b96;
}
.a-face {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 157px;
    height: 46px;
    text-decoration: none;

}

.class-fb {
    display: inline-block;
    color: white;
    font-size: 16px;
}
.google {
    box-sizing: border-box;
    float: right;
    width: 157px;
    height: 46px;
    background: #df4a32;
    border-radius: 4px;
}
.google:hover {
    background-color: #c3412c;
}
.a-google {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 157px;
    height: 46px;
    text-decoration: none;
}
.p-class-google {
    display: inline-flex;
    color: white;
    font-size: 16px;
}
.line::before {
    content: "";
    display: inline-flex;
    border-left: 1px solid white;
    min-height: 28px;
}

.class-or {
    overflow: hidden;
    width: 322px;
    margin: 33px auto 18px auto;
    text-align: center;
    color: #848484;
}
.p-class-or {
    display: inline-block;
}
.class-or::before, .class-or::after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 100%;
    height: 1px;
    background: #848484;
    position: relative;
}
.class-or::before {
    margin-left: -100%;
    left: -18px;
}
.class-or::after {
    margin-right: -100%;
    right: -14px;
}
.div-class-form {
    margin: 0 auto;
    height: 310px;
    width: 324px;
}
.classForm {
    box-sizing: border-box;
    width: 322px;
    margin: 0 auto;
}
.input-margin {
    margin-bottom: 17px;
}
.input-margin2 {
    margin-bottom: 9px;
}
.input-margin3 {
    margin-bottom: 20px;
}
.input {
    box-sizing: border-box;
    width: 322px;
    height: 46px;
    padding-left: 17px;
    border-radius: 4px;
    color: #848484;
}
.class-terms {
    text-decoration: none;
    color: #3cb878;
    font-size: 14px;
}

.class-account {
    box-sizing: border-box;
    background-color: #3cb878;
    width: 322px;
    height: 46px;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    margin-top: 20px;
}

.checkbox{
    opacity: 0;
}

.checkbox-label{
    position: relative;
}

.checkbox:checked + .checkbox-label::before{
    content: "\2714";
}

.checkbox-label::before{
    content: "";
    position: absolute;
    left: -30px;
    width: 20px;
    height: 20px;
    border: 1px solid #eaeaea;
    border-radius: 3px;
    color: #3cb878;
    text-align: center;
}