.conteiner {
    height: 1282px;
    width: 1280px;
    margin: 0 auto;
    font-family: sans-serif;
}

.logo-a {
    font-size: 74px;
    color: black;
    text-decoration: none;
}

span {
    color: #4bcaff;
}

.class-header {
    height: 69px;
    width: 1280px;
    margin: 45px auto;
    background: #35444f;
}

.class-header ul {
    vertical-align: middle;
    width: 1280px;
    height: 69px;
    margin: auto 0;
    display: block;
    text-align: center;
}

.class-header li {
    display: inline-block;
    width: 316px;
    height: 69px;
    text-align: center;
}

.a-header {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 22px;
    padding: 23.5px 0;
    text-align: center;
}
.a-header:hover {
    background: #222f3a;
}

.center {
    height: 532px;
    width: 1280px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 50px;
}

.menuleft {
    display: inline-block;
    height: 400px;
    width: 344px;
    border: 1px black solid;
}

.menuleft li {
    display: inline-block;
    width: 344px;
    height: 80px;
    text-align: center;
}

.a-menuleft {
    display: block;
    text-decoration: none;
    font-size: 23px;
    color: #55636d;
    padding: 28.5px 0;
}
.a-menuleft:hover {
    background: #dbdbdb;
    font-weight: 700;
   }
.divimage {
    display: inline-block;
    height: 529px;
    width: 885px;
    text-align: center;
    border: 1px black solid;
    position: absolute;
    right: 0px;
}

.divimage img {
    display: block;
    width: 320px;
    height: 381px;
    margin: 75px auto auto auto;
}

.text {
    width: 1280px;
    height: 354px;
    text-align: left;
    margin: 0 auto;
}

.text p {
    right: 40px;
    display: inline-block;
    width: 820px;
    height: 120px;
    font-size: 20px;
    margin: 0;
    margin-left: 426px;
}

footer {
    position: relative;
    height: 69px;
    width: 1280px;
    background: #b4b7ba;
    margin: 0 auto;
}

.ul-footer {
    display: inline-block;
    width: 1100px;
    height: 69px;
}

footer li {
    display: inline-block;
    text-align: center;
    height: 69px;
}

.a-footer {
    display: inline-block;
    font-size: 26px;
    text-decoration: none;
    text-align: center;
    color: black;
    font-weight: 500;
    padding: 21.5px;
}
.a-footer:hover {
    color: #3181a6;
    text-decoration: underline;
}

footer p {
    display: inline-block;
    font-size: 23px;
    /*margin-left: 142px;*/
    position: absolute;
    right: 34px;
    top: 25px;
}