* {
    padding: 0;
    margin: 0;
}

.myDiv {

    margin: 100px auto 0 auto;
    background-color: royalblue;
    font-size: 20px;
    width: 500px;
    border: 4px solid #4bcaff;
    border-radius: 10px;
    padding-left: 10px;

}

.myTimer {
    margin: 20px auto 0 auto;
    background-color: darkred;
    font-size: 20px;
    color: #F9F0DA;
    text-align: center;
    padding: 10px;

}

a{
    color: #99bcff;
    text-decoration: none;
}
a:hover {
    padding-left: 10px;
    color: ghostwhite;
    cursor: pointer;
}

li {
    list-style: square;
    margin-left: 30px;
    color: #4bcaff;
    padding: 10px;
}