/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */

/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */

/* Document
   ========================================================================== */

/*html {*/
/*  font-family: sans-serif; !* 1 *!*/
/*  line-height: 1.15; !* 2 *!*/
/*  -ms-text-size-adjust: 100%; !* 3 *!*/
/*  -webkit-text-size-adjust: 100%; !* 3 *!*/
/*}*/

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers (opinionated).
 */

/*body {*/
/*  margin: 0;*/
/*}*/

/**
 * Add the correct display in IE 9-.
 */

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

/*h1 {*/
/*  font-size: 2em;*/
/*  margin: 0.67em 0;*/
/*}*/

/* Grouping content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */

figcaption,
figure,
main { /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */

figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */

a:active,
a:hover {
  outline-width: 0;
}

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */

mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

/*button,*/
/*input,*/
/*optgroup,*/
/*select,*/
/*textarea {*/
/*  font-family: sans-serif; !* 1 *!*/
/*  font-size: 100%; !* 1 *!*/
/*  line-height: 1.15; !* 1 *!*/
/*  margin: 0; !* 2 *!*/
/*}*/

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */

details, /* 1 */
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */

template {
  display: none;
}

/* Hidden
   ========================================================================== */

/**
 * Add the correct display in IE 10-.
 */

[hidden] {
  display: none;
}

@charset "UTF-8";
/* argument
------------------------- */

.argument {
  margin: 0.5rem 0;
  padding-left: 1.5rem;
}

.argument__type {
  color: #777;
}

.argument__type,
.argument__description {
  margin-left: 0.4rem;
}

.argument__type:before,
.argument__description:before {
  content: '·';
  padding-right: 0.4rem;
  display: inline-block;
}

/* button
------------------------- */

.button {
  display: inline-block;
  padding: 5px 15px;
  margin-bottom: 10px;
  background-color: #F8F8F8;
  background-image: linear-gradient( hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.1) );
  border: 1px solid #CCC;
  border-radius: 5px;
}

.button:enabled {
  cursor: pointer;
}

.button:enabled:hover {
  background-color: #8CF;
}

.button.is-checked,
.button.is-selected {
  background-color: #19F;
  color: white;
}

.button:active {
  color: white;
  background-color: #59F;
  box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

/* hide radio inputs */
.button input[type="radio"] { display: none; }

/* ---- button-group ---- */

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button-group .button {
  float: left;
  border-radius: 0;
  margin-left: -1px;
}

.button-group .button:first-child { border-radius: 5px 0 0 5px; }
.button-group .button:last-child { border-radius: 0 5px 5px 0; }

/* buy-button
------------------------- */

.buy-button {
  display: block;
  margin-bottom: 10px;
  line-height: 1.3rem;
  border-radius: 8px;
  padding: 10px 100px 10px 10px;
  position: relative;
  text-align: center;
}

.buy-button__project,
.buy-button__title,
.buy-button__license {
}

.buy-button__title {
  font-weight: bold;
}

.buy-button__for {
  display: block;
  font-style: italic;
}

.buy-button__price {
  font-size: 1.6rem;
  background: #888;
  color: white;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 80px;
  border-radius: 0 8px 8px 0;
  text-align: center;
  line-height: 64px;
}

.buy-button__price__dollar {
  font-size: 1.4rem;
  margin-right: 3px;
  vertical-align: top;
}

@media screen and (min-width: 768px) {

  /* ---- buy-button-trio ---- */

  .buy-button-trio {
    margin-top: 40px;
    margin-bottom: 50px;
  }

  .buy-button-trio:after {
    content: '';
    display: block;
    clear: both;
  }

  /* ---- buy-button-trio buy-button ---- */

  .buy-button-trio .buy-button {
    float: left;
    width: 31.33%;
    margin-right: 3%;
  }

  .buy-button-trio .buy-button:nth-child(3) {
    margin-right: 0;
  }

  .buy-button-trio .buy-button {
    transition: transform 0.2s;
    padding: 20px 0 0;
  }

  .buy-button-trio .buy-button > span {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
  }

  .buy-button-trio .buy-button__project,
  .buy-button-trio .buy-button__license {
    font-size: 1.1rem;
  }

  .buy-button-trio .buy-button__title {
    font-size: 1.9rem;
    line-height: 1.2;
  }

  .buy-button-trio .buy-button__license {
    margin-bottom: 15px;
  }

  .buy-button-trio .buy-button__for {
    margin-bottom: 20px;
    font-size: 1.1rem;
  }

  .buy-button-trio .buy-button__price {
    position: relative;
    width: auto;
    font-size: 2.4rem;
    line-height: 1.3;
    padding-top: 15px;
    padding-bottom: 10px;
    border-radius: 0 0 8px 8px;
  }

  .buy-button-trio .buy-button__was-price {
    display: block;
    padding-bottom: 10px;
  }

  .buy-button-trio .buy-button__price__dollar {
    position: relative;
    top: 8px;
  }


  .buy-button-trio .buy-button:hover {
    transform: translateY(-5px);
  }

}

/* call out
------------------------- */

.call-out {
  border-top: 2px solid #ED2;
  border-bottom: 2px solid #ED2;
  padding-left: 40px;
  position: relative;
  margin: 20px 0;
}

/* (i) */
.call-out:before {
  content: 'i';
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 5px;
  top: 20px;
  background: #ED2;
  border-radius: 50%;
  text-align: center;
  color: white;
  font-family: Consolas, Georgia, serif;
  font-style: italic;
}

.call-out h2 {
  margin-top: 0;
  padding-top: 10px;
  border-top: none;
}

.call-out--chill { border-color: #8C8; }
.call-out--chill:before { background: #8C8; }

/* ---- call-out--big-copy ---- */

.call-out--big-copy p,
.call-out--big-copy li,
.call-out--big-copy li:before {
  font-size: 1.2rem;
  line-height: 1.2;
}

/* ---- quick-start-list ---- */

.call-out--big-copy ol {
  list-style: none;
}

.quick-start-list li {
  position: relative;
  counter-increment: call-out-big-copy-item;
}

.quick-start-list li:before {
  content: counter(call-out-big-copy-item) ".";
  position: absolute;
  left: -1.2rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.quick-start-list {
  list-style: none;
}

@media screen and (min-width: 768px) {

  .call-out {
    border: 2px solid #ED2;
    padding: 10px 20px 10px 80px;
    border-radius: 6px;
    position: relative;
    margin: 20px 0;
  }

  .call-out--chill { border-color: #8C8; }

  .call-out:before {
    width: 40px;
    height: 40px;
    left: 20px;
    top: 30px;
    font-size: 1.9rem;
    line-height: 46px;
  }

}

/* chunky-buttons
------------------------- */

.chunky-button {
  display: block;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  text-decoration: none;
  line-height: 1.0;
}

.chunky-button:hover { text-decoration: none; }

.chunky-button--fill {
  background-image: linear-gradient( hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.15) );
}

.chunky-button__icon {
  margin-right: 10px;
}

.chunky-button__icon svg {
  width: 48px;
  height: 48px;
  vertical-align: bottom;
}

.chunky-button__text {
  display: inline-block;
}

.chunky-button__text__plain {
  display: block;
}

.chunky-button__text__strong {
  display: block;
  font-size: 1.4rem;
  font-weight: bold;
}

.chunky-button--outline {
  padding-top: 8px;
  padding-bottom: 8px;
  border: 2px solid;
}

/* commercial-license-agreement
------------------------- */

.commercial-license-agreement h3 {
  counter-increment: cla-h3;
  counter-reset: cla-part;
}

.commercial-license-agreement h3:before {
  content: counter(cla-h3) '.';
  margin-right: 0.25rem;
  color: #888;
  font-family: 'Texta', sans-serif;
}

.cla__part {
  counter-increment: cla-part;
}

.cla__part:before,
.cla__definitions-list li:before {
  content: counter(cla-h3) '.' counter(cla-part) '.';
  color: #888;
  margin-right: 0.25rem;
}

.cla__definitions-list {
  list-style: none;
  padding-left: 2.6rem;
}

.cla__definitions-list li {
  text-indent: -1.5rem;
  margin-bottom: 0.5rem;
  counter-increment: cla-definitions-item;
}

.cla__definitions-list li:before {
  content: counter(cla-h3) '.' counter(cla-definitions-item) '.';
}

/* duo
two columns for large devices
------------------------- */

.duo:after {
  content: '';
  display: block;
  clear: both;
}

.duo__cell {
  margin-bottom: 10px;
}

/* --- duo--legal --- */


.duo--legal__plain {
  padding: 0 0.8rem;
  background: #FAFAFA;
  color: #888;
}

.duo--legal--first .duo--legal__official:before,
.duo--legal--first .duo--legal__plain:before {
  display: block;
  padding-top: 0.5rem;
  font-size: 0.88rem;
  color: #888;
}

.duo--legal--first .duo--legal__official:before {
  content: 'Official legal copy'
}

.duo--legal--first  .duo--legal__plain:before {
  content: 'Plain English'
}


@media screen and ( min-width: 768px ) {

  .duo__cell {
    float: left;
    width: 48.5%;
  }

  .duo__cell:first-child {
    margin-right: 3%;
  }

  .duo__cell--license-option p { margin-top: 0; }

}

/* edit-demo
------------------------- */

.edit-demo {
  clear: both;
  font-size: 0.92rem;
}

/* example
------------------------- */

.example {
  margin: 40px 0;
}

.example__code pre { margin: 0 0 20px; }

/* gh-button
------------------------- */

.gh-button {
  display: inline-block;
  background: none;
  border: none;
  color: #333;
  font-size: 1.1rem;
}

.gh-button__title,
.gh-button__stat {
  float: left;
  font-weight: bold;
  line-height: 20px;
  padding: 5px 10px;
  border: 1px solid #d5d5d5;
}

.gh-button__icon,
.gh-button .github-logo {
  height: 21px;
  fill: #333;
  display: inline-block;
  vertical-align: bottom;
}

.gh-button__title {
  background-color: #eee;
  background-image: linear-gradient(#fcfcfc, #eee);
  border-radius: 4px 0 0 4px;
}

.gh-button .github-logo {
  margin-right: 0.2em;
}

.gh-button__stat {
  border-left: 0;
  border-radius: 0 4px 4px 0;
  background: white;
}

.gh-button:hover { color: #333; }

.gh-button:hover .gh-button__title {
  background-color: #ddd;
  background-image: linear-gradient(#eee, #ddd);
}

.gh-button:hover .gh-button__stat {
  color: #4078c0;
}

.gh-button:hover .gh-button__icon--star {
  fill: #4078c0;
}

/* shirt-promo
------------------------- */

.shirt-promo {
  margin: 40px 0;
}

.shirt-promo__title {
  font-size: 1.6rem;
}

.shirt-promo__image {
  display: block;
  max-width: 100%;
  margin-bottom: 10px;
}

/* showcase-item
------------------------- */

.showcase-item__link {
  display: block;
  padding: 10px;
  background: white;
  margin-bottom: 20px;
  border-radius: 8px;
  background: #DDD;
}

.showcase-item__link:after {
  content: '';
  display: block;
  clear: both;
}

.showcase-item__image {
  width: 80px;
  float: left;
  display: block;
}

.showcase-item__image svg {
  display: block;
  border-radius: 5px;
  width: 100%;
  height: auto;
}

.showcase-item__text {
  float: left;
  width: calc( 100% - 120px );
  padding-left: 10px;
}

.showcase-item__title {
  margin: 0;
  font-size: 1.4rem;
}

.showcase-item__description {
  margin: 0;
}

@media screen and ( min-width: 768px ) {

  .showcase-item {
    float: left;
    width: 48.5%;
  }

  .showcase-item:nth-child(2n+1) {
    margin-right: 3%;
  }

  .showcase-item__image {
    width: 120px;
  }

  .showcase-item__text {
    padding-left: 20px;
  }

  .showcase-item__title {
    font-size: 2.0rem;
  }

  .showcase-item__description {
    font-size: 1.2rem;
    line-height: 1.2;
  }

}

/* showcase
------------------------- */

.showcase-item-list {
  padding: 0;
  list-style: none;
}

.showcase-item-list:after {
  content: '';
  display: block;
  clear: both;
}

.showcase-item .infinite-scroll-illo {
  padding: 5px;
}

.showcase__banner__image {
  display: block;
  max-width: 100%;
  margin-top: 10px;
  border-radius: 5px;
}

/* site-footer
------------------------- */

.site-footer {
  padding: 40px 0;
  margin-top: 60px;
}

.site-footer__copy {
  font-size: 1.2rem;
}

.site-footer .twitter-logo {
  width: 1.3rem;
  height: 1.3rem;
  vertical-align: middle;
}

/* socks-promo
------------------------- */

.socks-promo {
  margin: 40px 0;
}

.socks-promo__image {
  display: block;
  max-width: 100%;
  border-radius: 5px;
}

.socks-promo .duo__cell { margin-bottom: 0; }

/* flickity-illo
------------------------- */

.flickity-illo { background: #ED0; }

/* infinite-scroll-illo
------------------------- */

.infinite-scroll-illo__page {
  stroke: #333;
  stroke-width: 20;
  stroke-miterlimit: 10;
}

.infinite-scroll-illo__page--back { fill: white; }
.infinite-scroll-illo__page--front1 { fill: #C25; }
.infinite-scroll-illo__page--front2 { fill: #E62; }
.infinite-scroll-illo__page--front3 { fill: #EA0; }

/* isotope-illo
------------------------- */

.isotope-illo { background: #222; }


/* colors
purple #C09
orange #EA0
green #6C6
light gray #F8F8F8
*/


* {
  box-sizing: border-box;
}

/* font-size on html for rem*/
html {
  font-size: 17px;
  line-height: 1.5;
}

html.export {
  font-family: sans-serif;
  font-size: 15px;
}

body, input, button {
  font-family: Texta, sans-serif;
}

body {
  color: #555;
  background: #F8F8F8;
}

/* ---- links ---- */

a,
a code {
  color: #C09;
  text-decoration: none;
}

a:hover,
a:hover code {
  color: #EA0;
}


/* ---- headers ---- */

h1, h2, h3, h4 {
  line-height: 1.25;
}

h1, h2 {
/*  color: #C09;*/
}

h1 {
  font-weight: bold;
  font-size: 2.65rem;
  margin-bottom: 0.2em;
}

h3 {
  font-size: 1.4rem;
  margin-bottom: 0.5em;
}

h4 {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 1.1rem;
}

/* ---- lists ---- */

ul, ol {
  padding-left: 1.8em;
}

/* ---- code ---- */

pre, code {
  font-family: Consolas, Menlo, monospace;
  font-size: 14px;
  background: #EAEAEA;
  color: #333;
}

pre {
  padding: 10px;
  white-space: pre-wrap;
}

code {
  padding: 0.1em 0.3em;
  line-height: 1.2;
}
pre code {
  padding: 0;
  line-height: 1.5;
  background: none;
}

@media (min-width: 960px) {

  html {
    font-size: 19px;
  }

  html.export { font-size: 16px; }

  pre, code, kbd {
    font-size: 15px;
  }

}

/* web fonts
------------------------- */

/*@import url("//hello.myfonts.net/count/2d333f");*/

/*
  Just use WOFF2 and WOFF for webfonts
  https://css-tricks.com/snippets/css/using-font-face/ */





/* syntax highlight
------------------------- */

code .string,
code .tag .value { color: #0A2; }
code .number, /* integer */
code .cp, /* doctype */
code .literal { color: #07D; } /*boolean*/
code .keyword { color: #E31; } /* keyword */
code .kd, /* storage */
code .attribute { color: #D31; } /* markup attribute */
code .title  { color: #39A; }
code .params  { color: #98D; }
code .p  { color: #EDB; } /* punctuation */
code .o  { color: #F63; }   /* operator */
code .nb { color: #AA97AC;} /* support */

/* comment */
code .comment { color: #999; font-style: italic; }

code .tag { color: #37B; } /* Markup open tag */

code .id { color: #567; } /* css id */
code .class { color: #B27; }  /* CSS class */
code .rules { color: #431; }
code .value  { color: #555; } /* CSS value */
code .nd,
code .pseudo { color: #38D; } /* CSS pseudo selector */
code .hexcolor { color: #F63; }
code .at_rule { color: #088; }

code .built_in { color: #E08; }

code .packery, /* new Packery() */
code .packery_var { color: #D0D; } /* flkty */

code .jquery_var { color: #D70; } /* $gallery */

code .packery { text-decoration: underline; }

/* animate-item-size-item
------------------------- */

.animate-item-size-item {
  float: left;
}

/* animate-item-size-item is invisible, but used for layout */
.animate-item-size-item,
.animate-item-size-item__content {
  width: 60px;
  height: 60px;
}

/* animate-item-size-item__content is visible, and transitions size */
.animate-item-size-item__content {
  background: #C09;
  border: 2px solid hsla(0, 0%, 0%, 0.5);
  -webkit-transition: width 0.4s, height 0.4s;
          transition: width 0.4s, height 0.4s;
}

.animate-item-size-item:hover .animate-item-size-item__content {
  border-color: white;
  background: #EA0;
  cursor: pointer;
}

/* both animate-item-size-item and animate-item-size-item content change size */
.animate-item-size-item.is-expanded,
.animate-item-size-item.is-expanded .animate-item-size-item__content {
  width: 180px;
  height: 120px;
}

.animate-item-size-item.is-expanded {
  z-index: 2;
}

.animate-item-size-item.is-expanded .animate-item-size-item__content {
  background: #6C6;
}

/* ---- responsive ---- */

.grid--animate-item-size-responsive .animate-item-size-item,
.grid--animate-item-size-responsive .grid-sizer {
  width: 20%;
}

.grid--animate-item-size-responsive .animate-item-size-item__content,
.grid--animate-item-size-responsive .animate-item-size-item.is-expanded .animate-item-size-item__content {
  width: 100%;
  height: 100%;
}

/* item has expanded size */
.grid--animate-item-size-responsive .animate-item-size-item.is-expanded {
  width: 60%;
}

/* call out
------------------------- */

.call-out {
  border-top: 2px solid #EA0;
  border-bottom: 2px solid #EA0;
  padding-left: 40px;
  position: relative;
  margin: 20px 0;
}

/* (i) */
.call-out:before {
  content: 'i';
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 5px;
  top: 20px;
  background: #EA0;
  border-radius: 50%;
  text-align: center;
  color: white;
  font-family: Consolas, Georgia, serif;
  font-style: italic;
}

.call-out h2 {
  margin-top: 0;
  padding-top: 10px;
  border-top: none;
}

.call-out--chill { border-color: #6C6; }
.call-out--chill:before { background: #6C6; }

@media screen and (min-width: 768px) {

  .call-out {
    border: 2px solid #EA0;
    padding: 10px 20px 10px 80px;
    position: relative;
    margin: 20px 0;
  }

  .call-out--chill { border-color: #6C6; }

  .call-out:before {
    width: 40px;
    height: 40px;
    left: 20px;
    top: 30px;
    font-size: 1.9em;
    line-height: 46px;
  }

}

/* container
------------------------- */

.container {
  padding-left: 10px;
  padding-right: 10px;
  max-width: 1500px;
}

.container > * {
  max-width: 900px;
}

.container .duo.example {
  max-width: none;
}

/* desktop */
@media screen and ( min-width: 960px ) {

  .container {
    padding-left: 200px;
    padding-right: 20px;
  }

}

/* drag-hero-demos
------------------------- */

.drag-hero-demos__instruction {
  font-size: 1.2rem;
  color: #888;
  margin-top: 0;
}

.drag-hero-demos__grid {
  background: #EAEAEA;
}

.what-is-packery .drag-hero-demos__grid {
  background: #F8F8F8;
}

.drag-hero-demos__item {
  background: #C09;
  float: left;
  cursor: move;
  line-height: 70px;
  font-size: 1.3rem;
  color: #F8F8F8;
  text-align: center;
  border: 4px solid transparent;
}

.drag-hero-demos__item:hover,
.drag-hero-demos__item.is-dragging {
  border-color: hsla(0, 0%, 100%, 0.5);
  background: #EA0;
}

.drag-hero-demos__item.is-dragging,
.drag-hero-demos__item.is-positioning-post-drag {
  z-index: 2;
}

.drag-hero-demos__grid .packery-drop-placeholder {
  border: 3px dashed hsla(0, 0%, 0%, 0.5);
  -webkit-transition: -webkit-transform 0.2s;
          transition: transform 0.2s;
}

/* ---- masonry ---- */

.drag-hero-demos__item,
.drag-hero-demos__grid__masonry-grid-sizer {
  width: 32%;
}

.drag-hero-demos__item--masonry {
  height: 80px;
}

.drag-hero-demos__grid__masonry-gutter-sizer {
  width: 2%;
}

.drag-hero-demos__item--masonry.height2 {
  height: 130px;
}

.drag-hero-demos__item--masonry.height3 {
  height: 180px;
}

/* ---- dash ---- */


.drag-hero-demos__item--dash,
.drag-hero-demos__grid__dash-grid-sizer {
  width: 16%;
  width: calc( (100% - 8px * 4) / 5 );
}

.drag-hero-demos__item--dash {
  height: 80px;
}

.drag-hero-demos__item--dash.width2 {
  width: 32%;
  width: calc( ((100% - 8px * 4) / 5) * 2 + 8px );
}

.drag-hero-demos__item--dash.height2 {
  height: 168px;
}

/* edit-demo
------------------------- */

.edit-demo {
  clear: both;
  font-size: 0.92em;
}

/* buy-button
------------------------- */

.buy-button {
  background: #EAEAEA;
}

.buy-button__price { background: #6C6; }

.buy-button:hover .buy-button__price { background: #EA0; }

/* duo
------------------------- */

*[data-license-property] { color: #EA0; }

.duo--legal__plain {
  background: #EAEAEA;
}

/* showcase-item
------------------------- */

.showcase-item__link {
  background: #F8F8F8;
}

.showcase-item__link:hover {
  color: white;
  background: #EA0;
}

/* site footer
------------------------- */

.site-footer {
  background: #EAEAEA;
  margin-top: 0;
  position: relative;
  z-index: 2; /* above page nav */
}

.site-footer .twitter-logo { fill: #C09; }
.site-footer a:hover .twitter-logo { fill: #EA0; }

/* ---- mfzy-logo ---- */

.site-footer .mfzy-logo__body-fill { fill: #C09; }
.site-footer .mfzy-logo__stripes { display: none; }

.site-footer a:hover .mfzy-logo__stripes { display: inline; }

/* ---- mfzy-wordmark ---- */

.mfzy-wordmark { stroke: #C09; }
.mfzy-brand__link:hover .mfzy-wordmark { stroke: #333; }

@media screen and ( min-width: 960px ) {

  .site-footer .mfzy-brand {
    position: absolute;
    left: 10px;
    top: 70px;
    width: 180px;
  }

  .site-footer .mfzy-logo {
    display: block;
    width: 108px;
    height: 108px;
    margin: 0 auto 5px;
  }

  .site-footer .mfzy-wordmark {
    display: block;
    margin: 0 auto;
  }

}

/* gh-button
------------------------- */

.gh-button {
  display: inline-block;
  background: none;
  border: none;
  font-family: Helvetica, Arial, sans-serif;
  color: #333;
}

.gh-button__title,
.gh-button__stat {
  float: left;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  padding: 5px 10px;
  border: 1px solid #d5d5d5;
}

.gh-button__icon {
  height: 21px;
  fill: #333;
  display: inline-block;
  vertical-align: bottom;
}

.gh-button__title {
  background-color: #eee;
  background-image: linear-gradient(#fcfcfc, #eee);
  border-radius: 4px 0 0 4px;
}

.gh-button__icon--github-logo {
  margin-right: 0.2em;
}

.gh-button__stat {
  border-left: 0;
  border-radius: 0 4px 4px 0;
  background: white;
}

.gh-button:hover { color: #333; }

.gh-button:hover .gh-button__title {
  background-color: #ddd;
  background-image: linear-gradient(#eee, #ddd);
}

.gh-button:hover .gh-button__stat {
  color: #4078c0;
}

.gh-button:hover .gh-button__icon--star {
  fill: #4078c0;
}

/* grid
------------------------- */

.grid {
  background: #EAEAEA;
  position: relative;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- counting ---- */

.grid--counting {
  counter-reset: item;
}

.grid--counting .grid-item:before {
  counter-increment: item;
  content: counter(item);
  display: block;
  color: #F8F8F8;
  padding-top: 0.2em;
  text-align: center;
}

/* ---- horizontal ---- */

/* horizontal examples need height */
.grid--horizontal {
  height: 300px;
}

/* ---- static banner ---- */

.grid--has-banner {
  position: relative;
}

.static-banner {
  position: absolute;
  left: 10px;
  top: 10px;
  background: #EA0;
  z-index: 1;
  padding: 2px 20px;
  color: white;
  pointer-events: none;
}

/* ---- fixed-width ---- */

.grid--fixed-width {
  width: 300px;
}

/* ---- stamp ---- */

.grid--has-stamp {
  position: relative;
}

/* ---- fit-width ---- */

/* centered */
.grid--fit-width {
  margin: 0 auto;
}

/* grid-image-item
------------------------- */

.grid-image-item,
.grid--images .grid-sizer { width: 33.33%; }

.grid-image-item {
  float: left;
}

.grid-image-item img {
  display: block;
  max-width: 100%;
}

/* grid-item
------------------------- */

.grid-item {
  float: left;
  width: 60px;
  height: 60px;
  background: #C09;
  border: 2px solid hsla(0, 0%, 0%, 0.4);
}

.grid-item--width2 { width: 120px; }
.grid-item--height2 { height: 120px; }

.grid-item--width3 { width: 180px; }
.grid-item--height3 { height: 180px; }

.grid-item--large {
  width: 180px;
  height: 180px;
  background: #6C6;
  z-index: 2;
}

.grid--clickable .grid-item:hover {
  background: #EA0;
  cursor: pointer;
}

/* ---- insert demo ---- */

.grid-item .number {
  line-height: 50px;
  text-align: center;
  color: #333;
  margin: 0;
  font-size: 1.3rem;
}

/* ---- fluid-5-col ---- */

.grid--fluid-5-col .grid-item,
.grid--fluid-5-col .grid-sizer { width: 20%; }

.grid--fluid-5-col .grid-item--width2 { width: 40%; }

/* ---- grid-sizer--row-height ---- */

.grid-sizer--row-height { height: 60px; }

/* ---- grid--has-gutter ---- */

.grid--has-gutter .grid-item--width2 {
  width: 130px;
}

.grid--has-gutter .grid-item--height2 {
  height: 130px;
}

/* ---- grid--fluid-gutter ---- */

.grid--fluid-gutter .grid-sizer,
.grid--fluid-gutter .grid-item {
  width: 22%;
}

.grid--fluid-gutter .gutter-sizer {
  width: 4%;
}

.grid--fluid-gutter .grid-item--width2 {
  width: 48%;
}

/* ---- grid--draggable ---- */

.grid--draggable .grid-item {
  width: 100px;
  height: 100px;
}

.grid--draggable .grid-item--width2 { width: 200px; }
.grid--draggable .grid-item--height2 { height: 200px; }

.grid--draggable .grid-item:hover {
  border-color: hsla(0, 0%, 100%, 0.5);
  cursor: move;
}

.grid--draggable .grid-item.is-dragging,
.grid--draggable .grid-item.ui-draggable-dragging,
.grid--draggable .grid-item.is-positioning-post-drag {
  background: #EA0;
  z-index: 2;
}

.grid--draggable .packery-drop-placeholder {
  outline: 3px dashed hsla(0, 0%, 0%, 0.5);
  outline-offset: -6px;
  -webkit-transition: -webkit-transform 0.2s;
          transition: transform 0.2s;
}

/* ----  ---- */

.grid--order-after-drag .grid-item {
  padding: 10px;
  color: #F8F8F8;
  font-size: 1.2rem;
}

/* ---- masonry-horizontal ---- */

.grid--masonry-horizontal-gutter .grid-item--height2 {
  height: 110px;
}

/* ----  ---- */

.grid--masonry-horizontal-gutter-right .grid-item {
  margin-right: 10px;
}

.grid--masonry-horizontal-gutter-right .grid-item--width2 {
  width: 110px;
}

/* ---- cells-by-row-element-sizing ---- */

.grid--cells-by-row-element-sizing .grid-item {
  width: 13%;
}

.grid--cells-by-row-element-sizing .grid-item--width2 {
  width: 23%;
}

.grid--cells-by-row-element-sizing .grid-sizer {
  width: 25%;
  height: 110px;
}

/* ---- cells-by-column-element-sizing ---- */

.grid--cells-by-column-element-sizing .grid-item {
  height: 13%;
}

.grid--cells-by-column-element-sizing .grid-item--width2 {
  height: 23%;
}

.grid--cells-by-column-element-sizing .grid-sizer {
  height: 25%;
  width: 110px;
}

/* ---- fitrows-gutter ---- */

.grid--fit-rows-gutter .grid-item--width2 { width: 110px; }
.grid--fit-rows-gutter .grid-item--width3 { width: 170px; }

/* hero
------------------------- */

.hero {
  background: #C09;
  color: #F8F8F8;
  position: relative;
  overflow: hidden;
}

/* ---- grid ---- */

.hero__grid-container {
  position: relative;
}

.hero__grid {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.hero__grid__item {
  background: hsla(0, 0%, 0%, 0.3);
}

/* ---- content ---- */

/* keep above grid */
.hero__content {
  position: relative;
  z-index: 2;
  padding-bottom: 20px;
}

.hero__title {
  font-size: 5.0rem;
  line-height: 1.2;
  letter-spacing: -0.01em;
  margin: 0 0 10px;
  padding-top: 10px;
  color: #F8F8F8;
}

.hero__tagline {
  font-size: 1.4rem;
  margin: 0 0 0.8em;
  line-height: 1.2;
}

.hero__button-icon {
  vertical-align: bottom;
  width: 40px;
  height: 40px;
  margin-right: 6px;
}

.button--hero-big {
  display: block;
  font-size: 1.2rem;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

.button--hero-big:hover {
  background-color: #EA0;
  color: white;
}

.hero__button-icon path { fill: #C09; }

.button--hero-big:hover .hero__button-icon path { fill: white; }

/* ---- desktop ---- */

@media screen and ( min-width: 960px ) {

  .hero__title {
    font-size: 9.0rem;
    padding-top: 20px;
    margin-bottom: 10px;
  }

  .hero__tagline {
    font-size: 2.2rem;
  }

  /* stamp elements, shape around titles */
  .hero__grid__stamp {
    position: absolute;
/*    background: hsla(0, 0%, 100%, 0.4); */
    z-index: 2;
  }

  .hero__grid__stamp--ackery {
    width: 434px;
    height: 82px;
    left: 96px;
    top: 92px;
  }

  .hero__grid__stamp--p-top {
    width: 98px;
    height: 78px;
    left: 0px;
    top: 62px;
  }

  .hero__grid__stamp--p-bottom {
    width: 36px;
    height: 81px;
    left: 0px;
    top: 92px;
  }

  .hero__grid__stamp--k {
    width: 28px;
    height: 90px;
    left: 249px;
    top: 62px;
  }

  .hero__grid__stamp--y {
    width: 46px;
    height: 60px;
    left: 458px;
    top: 140px;
  }

  .hero__grid__stamp--tagline {
    width: 536px;
    height: 44px;
    left: 0px;
    top: 238px;
  }


  .hero__grid__stamp--gh-button {
    width: 306px;
    height: 42px;
    left: 0px;
    top: 314px;
  }

}


/* in-use-gallery
------------------------- */

.container .in-use-gallery {
  max-width: none;
}

/* clearfix */
.in-use-gallery:after {
  content: '';
  display: block;
  clear: both;
}

.in-use-gallery__item {
  float: left;
  width: 48%;
  margin-right: 2%;
  margin-bottom: 40px;
}

.in-use-gallery__item__link {
  display: block;
}

.in-use-gallery__item__image {
  display: block;
  max-width: 100%;
}

.in-use-gallery__item__title {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  text-overflow: ellipsis;
}


/* instruction
------------------------- */

.instruction {
  font-size: 1.1rem;
  margin-bottom: 10px;
  color: #AAA;
}

/* main
------------------------- */

.main {
  padding-bottom: 40px;
}

.main h2 {
  font-size: 2.0rem;
  font-weight: 400;
  padding: 0.4em 0;
  border-top: 2px solid;
  margin-top: 60px;
}

.main h3 {
  border-top: 1px solid #BBB;
  padding-top: 20px;
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 1.5rem;
}

.main h2:target,
.main h3:target {
  padding-left: 0.5em;
  background: #C09;
  color: white;
  border-color: #C09;
}

/* notification
------------------------- */

.notification {
  position: fixed;
  max-width: none;
  right: 10px;
  bottom: 10px;
  padding: 10px 20px;
  font-size: 1.2rem;
  color: #F8F8F8;
  opacity: 0;
  pointer-events: none;
  background: #EA0;
  z-index: 3; /* above packeries */
  -webkit-transition: opacity 0.4s;
          transition: opacity 0.4s;
}

/* page-nav
------------------------- */

.page-nav {
  padding: 1.0em 0;
  font-size: 0.8rem;
  z-index: 2; /* above packeries */
}

.page-nav__item {
  display: inline-block;
}

.page-nav__item:after {
  content: ' •';
  margin: 0 0.3em;
  opacity: 0.5;
}

.page-nav__item:last-child:after {
  content: none;
}

/* ---- index-page ---- */

.index-page .page-nav a {
  transition: color 0.4s;
}

.page-nav.is-at-top a {
  color: #F8F8F8;
}


/* desktop */
@media screen and ( min-width: 960px ) {

  .page-nav {
    position: absolute;
    left: 0;
    top: 60px;
    list-style: none;
    margin: 0;
    width: 200px;
    padding: 20px;
  }

  .page-nav__item {
    display: block;
    margin-bottom: 2px;
    margin-left: 0;
  }

  .page-nav__item:after {
    content: none;
  }

  .page-nav__item a {
    display: block;
    background: transparent;
  }

  .page-nav__item--h3 {
    padding-left: 1.0em;
  }

}

/* fix .page-nav only if we have enough height */
@media screen and ( min-width: 960px ) and ( min-height: 540px ) {
  .page-nav {
    position: fixed;
  }
}

/* site-nav
------------------------- */

.site-nav {
  background: #C09;
  position: relative;
  z-index: 3; /* above page-nav */
}

.site-nav,
.site-nav__title {
  line-height: 44px;
}


/* clear fix */
.site-nav:after {
  content: ' ';
  display: table;
  clear: both;
}

/* ---- site-nav__title ---- */

.site-nav__title {
  float: left;
  text-align: center;
  font-size: 1.5rem;
  margin: 0;
}

.site-nav__title a {
  padding: 0 0.8em;
}

/* ---- site-nav__list, site-nav__item ---- */

.site-nav__list {
  list-style: none;
  margin: 0;
}

.site-nav__list:after {
  content: ' ';
  display: table;
  clear: both;
}

.site-nav__item {
  float: left;
}

.site-nav__item a {
  padding: 0 1.0em;
}

/* link color & hover */
.site-nav__title a,
.site-nav__item a {
  display: block;
  color: #F8F8F8;
}

.site-nav__title a:hover,
.site-nav__item a:hover {
  background: #EA0;
  color: #F8F8F8;
}

/* selected */
.layout-page .site-nav__item--layout a,
.options-page .site-nav__item--options a,
.methods-page .site-nav__item--methods a,
.events-page .site-nav__item--events a,
.draggable-page .site-nav__item--draggable a,
.license-page .site-nav__item--license a,
.appendix-page .site-nav__item--appendix a,
.faq-page .site-nav__item--faq a {
  background: #90C;
}


@media screen and ( min-width: 960px ) {

  /* hide text on index */
  .index-page .site-nav__title a {
    display: none;
  }

  .site-nav,
  .site-nav__title {
    line-height: 60px;
  }

  .site-nav__title {
    width: 200px;
    height: 60px;
    font-size: 2.0rem;
  }

  .site-nav__item {
    font-size: 1.1rem;
  }

}

/* stamp
------------------------- */

.stamp {
  position: absolute;
  width: 30%;
  height: 60px;
  background: #EA0;
  border: 4px dotted hsla(0, 0%, 0%, 0.5);
}

/* ---- static ---- */

.stamp--static1 {
  right: 0;
  top: 0;
  width: 30%;
  height: 100px;
}

.stamp--static2 {
  right: 10%;
  top: 80px;
  width: 50%;
  height: 80px;
}

@charset "UTF-8";
/* variable
------------------------- */

.variable {
  margin: 0.5em 0;
  padding: 5px 10px;
  background: white;
}

.variable__type {
  color: #097;
}

.variable__type,
.variable__description {
  margin-left: 10px;
}

.variable__type:before,
.variable__description:before {
  content: '·';
  padding-right: 0.4em;
  display: inline-block;
}

/* what-is-packery
------------------------- */

.what-is-packery {
  background: #EAEAEA;
  padding-top: 20px;
  padding-bottom: 10px;
}

.what-is-packery__description {
  font-size: 1.2rem;
  line-height: 1.3;
}

/* bootstrap 3
------------------------- */

.bootstrap__container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.bootstrap__col-xs-4,
.bootstrap__col-xs-6,
.bootstrap__col-xs-8,
.bootstrap__col-xs-12 {
  padding-right: 15px;
  padding-left: 15px;
}

.bootstrap__col-xs-4 { width: 33.333%; }
.bootstrap__col-xs-6 { width: 50%; }
.bootstrap__col-xs-8 { width: 66.666%; }

.bootstrap__grid-item-content {
  height: 100px;
  background: #C09;
  border: 2px solid hsla(0, 0%, 0%, 0.5);
}

.bootstrap__grid-item-content--height2 { height: 200px; }

/* sm */
@media (min-width: 768px) {
  .bootstrap__col-sm-4 { width: 33.333%; }
  .bootstrap__col-sm-8 { width: 66.666%; }
}

/* md */
@media (min-width: 992px) {
  .bootstrap__col-md-3 { width: 25%; }
  .bootstrap__col-md-6 { width: 50%; }
}

/* stamp-methods-demo
------------------------- */

.grid--stamp-methods-demo .grid-item {
  opacity: 0.8;
}

.stamp--stamp-methods-demo {
  left: 10px;
  top: 10px;
}