* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    overflow: hidden;
    font-family: Montserrat, sans-serif;
}

/*------------------- header----------*/
.header {
    width: 100%;
    height: 1012px;
    background-image: url("../img/Layer_1.png");
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 100%;
    background-attachment: fixed;
}

/*--------- MENU----------------------------*/
.menu {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 120px;
    background-color: rgba(0, 0, 0, 0.5);
}

.box-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 292px;
    text-decoration: none;
}

.logo-image {
    width: 58px;
    height: 67px;
    position: relative;
}

.polygon {
    position: absolute;
}

.logo-letter {
    position: absolute;
    /*test*/
    /*left: 14px;*/
    /*top: 9px;*/
    text-align: center;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    transform: translate(0, -50%);

    color: white;
    font-size: 40px;
    font-weight: bold;
}

.logo-text {
    display: inline-block;
    color: white;
    font-size: 34px;
}

.ham-green {
    color: #18cfab;
    font-weight: 700;
}

.menu-list {
    display: flex;
    width: 644px;
    justify-content: space-around;
    align-items: center;
}

.menu-list-a {
    height: 100%;
    text-decoration: none;
    text-transform: uppercase;
    color: #b8b8b8;
    font-size: 13px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition-duration: 500ms;
    -moz-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}
.fa-search {
    font-size: 18px;
}
.menu-list-a:hover {
    color: #18cfab;
    border-bottom: #18cfab 3px solid;
}

/*---------HOME TEXT----------*/
.home-text1 {
    text-transform: uppercase;
    color: white;
    font-size: 35px;
    font-weight: 700;
    margin-top: 246px;
}

.home-text1-span {
    color: #18cfab;
}

.home-text2 {
    text-transform: uppercase;
    font-size: 79px;
    font-weight: 700;
    color: white;
    margin-top: 45px;
}

.home-text3 {
    color: #d4d4d4;
    font-size: 34px;
    font-weight: 300;
    margin-top: 37px;
}

/*------------ home button-----------*/
.button-home {
    height: 61px;
    width: 362px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-top: 146px;
}

.button-explore {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    width: 166px;
    height: 61px;
    background-color: #18cfab;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: white 3px solid;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
}

.button-explore:hover, .button-purchase:hover,
.button-purchase2:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}


.button-purchase {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    width: 166px;
    height: 61px;
    background-color: #00cbf6;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: white 3px solid;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
}

/*--------4 options--------*/
.options {
    width: 100%;
    height: 374px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.first-options {
    background-color: #1c2a33;
    border-top: #18cfab solid 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.option-text-1 {
    color: #18cfab;
    font-size: 20px;
    font-weight: 700;
    margin-top: 56px;
    text-transform: uppercase;
}

.second-options {
    background-color: #18cfab;
    border-top: white solid 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.option-text-2 {
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin-top: 56px;
    text-transform: uppercase;
}

.thirt-options {
    background-color: #1c2a33;
    border-top: #18cfab solid 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.option-text-3 {
    color: #18cfab;
    font-size: 20px;
    font-weight: 700;
    margin-top: 56px;
    text-transform: uppercase;
}

.four-options {
    background-color: #18cfab;
    border-top: white solid 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.option-text-4 {
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin-top: 56px;
    text-transform: uppercase;
}

/*-------------------SERVICE-------------------*/
.our-service {
    height: 560px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-top: 82px;
    justify-items: center;
    align-items: center;
}

.title-our-service {
    font-size: 36px;
    color: #4e4e4e;
}

.line-1 {
    width: 76px;
    height: 2px;
    background-color: #18cfab;
    margin-right: 12px;
    margin-top: 37px;
}

.line-2 {
    width: 76px;
    height: 2px;
    background-color: #18cfab;
    margin-top: 3px;
    margin-left: 12px;
}

.menu-service {
    width: 1142px;
    height: 235px;
    margin-top: 74px;
}

.menu-service-list {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 70px;
    justify-items: center;
    align-items: center;
    margin-bottom:  24px;


}
.service-tab {
    background-color: #f8fcfe;
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    border: #f1f3f4 solid   1px;
    cursor: pointer;
}
.service-tab:hover {
    box-shadow: 0 10px 13px -7px black, 5px 5px 15px 5px rgba(255,119,119,0);
}

.tab-active {
    background-color: #18cfab;
    color: white;
}
.tab-active::after {
    content: "";
    position: absolute;
    bottom: -10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 13px 12px 0 12px;
    border-color: #18cfab    transparent transparent transparent;
}
.tabs-box {
    display: flex;
    justify-content: space-between;
}
.tab-image {
    width: 194px;
    height: 139px;


}
.tabs-box-none {
    display: none;
}
.tabs-text {
    margin-left: 20px;
}
/*--------------------BG-------------------*/
.bg-opacity {
    width: 100%;
    height: 474px;
    background-image: url("../img/Layer_2.png");
    margin-bottom: 25px;
}

.bg {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background-color: black;
    opacity: 0.78;
}

.text-everything {
    color: #18cfab;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.text-smooth {
    color: #d8d8d8;
    font-size: 16px;
    font-weight: 400;
    margin-top: 35px;
}

.button-purchase2 {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    width: 166px;
    height: 61px;
    background-color: #18cfab;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: white 3px solid;
    margin-top: 80px;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
}
/*---------------Amazing--------------*/
.block-05-amazing {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background-color: #f8fcfe;
}
.text-amazing {
    color: #4e4e4e;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
}
.menu-amazing {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    width: 609px;
    height: 58px;
    color: #717171;
    background-color: white;
    border: #f6f6f6 solid 1px;
    margin-top: 70px;

}
.list-item {
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 42px;
    color: #717171;
    border: #f6f6f6 solid 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.list-item:hover {
    box-shadow: 0 10px 13px -7px black, 5px 5px 15px 5px rgba(255,119,119,0);
}
.list-item-active {
    background-color: #18cfab;
    color: white;
    position: relative;
}
.list-item-active:after {
    content: "";
    position: absolute;
    bottom: -10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 13px 12px 0 12px;
    border-color: #18cfab    transparent transparent transparent;
}
.work-gallery {
    width: 1160px;
    margin-top: 71px;
}
.image-gallery {
    display: none;
}
.active-image {
    display: inline-block;
}

.button-load-more {
    width: 165px;
    height: 60px;
    background-color: #18cfab;
    font-size: 14px;
    font-weight: 700;
    line-height: 42px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 71px;
    border-radius: 5px;
    margin-bottom: 50px;
}
.button-load-more:hover {
    box-shadow: 0 10px 13px -7px black, 5px 5px 15px 5px rgba(255,119,119,0);
}


.show-more-image{
    display: none;
}
.show-more-image.active{
    display: block;
}
/*-------------------------NEWS------------------------------*/
.news {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.breaking-news {
    margin-top: 84px;
    color: #4e4e4e;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
}
.news-post {
    width: 1160px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 70px;
}
.post {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 45px;
    width: 263px;
    height: 277px;
    background-color: #f8fcfe;
    cursor: pointer;
    border: solid 1px #ebebeb;
}
.post:hover{
    box-shadow: 0 10px 13px -7px black, 5px 5px 15px 5px rgba(255,119,119,0);
}

.post:hover .date-absolute {
    background-color:  #18cfab;
}
.post:hover .amazing-post {
    color: #18cfab;
}
.amazing-post {
    color: #717171;
    font-size: 18px;
    font-weight: 700;
    margin: 14px 14px 0 20px;
}
.text-admin {
    color: #777777;
    font-size: 14px;
    font-weight: 300;
    margin: 0 14px 0 20px;
}
.date-absolute {
    position: absolute;
    right: 1px;
    width: 68px;
    height: 66px;
    background-color: #203e38;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
}

/*block-03-services-----------------------------------------------------------------*/

.block-03-services { grid-area: block-03-services; background: white;}
.block-03-services-text, .block-05-ourwork-text, .block-06-news-text, .block-07-people-text, .block-08-gallery-text{
    color: #4e4e4e;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    position: relative;
}
.block-03-services-divtabs{
    display: flex;
    width: 1160px;
}
.block-03-services-divtab{
    width: 192px;
    height: 70px;
    color: #717171;
    font-size: 16px;
    font-weight: 400;
    line-height: 70px;
    border: 1px solid #ebebeb;
    background-color: #f8fcfe;
    text-align: center;
    cursor: pointer;
}
.block-03-services-divtab-active{
    border: none;
    background-color: #18cfab;
    color: white;
    position: relative;
}
.block-03-services-divtab-active:before{
    border: 20px solid transparent;	border-top: 20px solid #18cfab;
    content: '';
    position: absolute;
    top: 65px;
    left: 75px;
}
.block-03-services-divtabs-p{ margin: 25px 0 100px 0; }
.block-03-services-divtab-p{ display: flex; }
.block-03-services-divtab-p-img{
    width: 194px;
    height: 139px;

}
.block-03-services-divtab-p-text{
    width: 940px;
    margin: 0 0 0 20px;
    color: #777777;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    text-align: justify;
}
.block-03-services-divtab-p-active{ display: flex; }
/*------------------------people----------------------*/
/*.people {*/
/*    background-image: url("../img/bg-layer.png");*/
/*    width: 100%;*/
/*    height: 852px;*/
/*}*/
/*.bg-people {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    justify-items: center;*/
/*    align-items: center;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background-color: black;*/
/*    opacity: 0.5;*/
/*}*/
/*.object-ld {*/
/*    font-size:50px;*/
/*    color:#18cfab ;*/
/*}*/
/*.people-text {*/
/*    color: white;*/
/*    font-size: 36px;*/
/*    font-weight: 400;*/
/*    line-height: 40px;*/
/*}*/
/*.biographic {*/
/*    width: 1097px;*/
/*    color: #bbbbbb;*/
/*    font-size: 16px;*/
/*    font-weight: 300;*/
/*    line-height: 30px;*/
/*    text-align: center;*/
/*}*/
/* сслайдер вот пипл сей*/

/*block-05-ourwork-----------------------------------------------------------------*/

.block-05-ourwork {
    grid-area: block-05-ourwork;
    background-color: #f8fcfe;
}
.block-05-ourwork-divtabs{
    display: flex;
    justify-content: center;
}
.block-05-ourwork-divtab{
    color: #717171;
    font-size: 14px;
    font-weight: 400;
    line-height: 56px;
    height: 56px;
    border: 1px solid #ebebeb;
    padding: 0 14px;
    /*min-width: 45px;*/
    text-align: center;
    cursor: pointer;
    min-width: 75px;
    background: white;
}

.block-05-ourwork-divtab-active{
    color: #18cfab;
    position: relative;
}
.block-05-ourwork-divtab-active:before{
    content: " ";
    width: 100%;
    position: absolute;
    height: 2px;
    background-color: #18CFAB;
    top: -2px;
    left: 0;
}
.block-05-ourwork-images{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 70px 0 40px 0;
}
.block-05-ourwork-image{
    height: auto;
    margin: 0;
    cursor: pointer;
    position: relative;
    display: flex;
    box-sizing: content-box;
}

.block-05-ourwork-image-hover{
    display: none;
    width: 100%;
    height: 100%;
    transition: 3s linear;
    border-top:  3px solid #18cfab;
    box-sizing: border-box;
    background-color: white;
    position: absolute;
    z-index: 4;
    animation: fade-in 0.5s linear;
}
@keyframes         fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }
.block-05-ourwork-image-hover-link{
    margin: 10px 0 20px 0;
}
.block-05-ourwork-image-hover-link-01, .block-05-ourwork-image-hover-link-02{
    min-width: 40px;
    min-height: 40px;
    box-sizing: border-box;
    border-radius: 50%;
    border: 1px solid #18cfab;
    background-color: white;
    margin: 5px;
    float: left;
    color: #18cfab;
    font-size: 20px;
}
.block-05-ourwork-image-hover-link-01:before{
    font-family: "FontAwesome";
    content: "\f0c1";
    text-align: center;
    display: block;
    margin: 4px auto 0 auto;
}
.block-05-ourwork-image-hover-link-02:before{
    font-family: "FontAwesome";
    content: "\f002";
    text-align: center;
    display: block;
    margin: 2px auto 0 auto;
}
.block-05-ourwork-image-hover-link-01:hover, .block-05-ourwork-image-hover-link-02:hover{
    background-color: #18cfab;
    color: white;
}
.block-05-ourwork-image-hover-text-01{
    color: #18cfab;
    font-size: 14px;
    font-weight: 700;
    line-height: 25px;
    text-transform: uppercase;
    margin: 0;
}
.block-05-ourwork-image-hover-text-02{
    color: #8a8a8a;
    font-size: 12px;
    font-weight: 300;
    line-height: 25px;
    margin: 0;
}
.block-05-ourwork-image:hover>div{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.block-05-ourwork-button{ margin-bottom: 100px; }


/*block-07-people-----------------------------------------------------------------*/
.content-block-black-justbuy{background-color: rgba(0, 0, 0, 0.8);}
.content-block-black-people{background-color: rgba(0, 0, 0, 0.5);}
.block-07-people {
    grid-area: block-07-people;
    background-image: url("../img/bk/bk-03.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.content-block{
    width: 1160px;
    margin: 0 auto 0 auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.block-07-people-text{
    color: white;
    margin-top: 40px;
}
.block-07-people-quote{
    background-repeat: no-repeat;
    background-image: url("../img/logo.png");
    width: 44px;
    height: 33px;
    background-position: 2px -383px;
    background-size: 90%;
    margin-bottom: 40px;
}
.block-07-people-text-p{
    color: #bbbbbb;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
    margin: 0 auto 40px 0;
    width: 1100px;
}
.block-07-people-cards{
    width: 1100px;
    height: 340px;
}
.block-07-people-card{

    display: flex;
    flex-flow: column;
    justify-content: center;

}
.block-07-people-card-name{
    color: #18cfab;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
.block-07-people-card-prof{
    font-weight: 300;
    color: #bbbbbb;
    font-size: 13px;
    line-height: 27px;
    text-align: center;
}
.block-07-people-card-photo{
    width: 140px;
    height: 140px;
    border: 3px solid #18cfab;
    box-shadow: 0 0 0 10px rgba(16,75,75,0.7);
    border-radius: 50%;
    margin: 27px auto 10px auto;

}
.block-07-people-minicard-block{
    width: 100%;
    margin: 10px 0 90px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: 1px solid #bbbbbb;*/
}

.block-07-people-minicards{
    width: 430px;
    height: 90px;
    /*border: 1px solid #bbbbbb;*/
    justify-content: center;

}
.block-07-people-minicard-div{
    width: 70px;
    height: 73px;
}
.block-07-people-minicard{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 0 0 5px rgba(16,75,75,0.5);
    margin: 15px auto 0 auto;
    cursor: pointer;
}



/*--------------------------*/
/* вставка---------------*/

/*content-block-masonry-----------------------------------------------------------------*/

.content-block-masonry{
    width: 1185px;
    margin: 0 auto 60px auto;
    padding-top: 80px;
    text-align: center;
}
.block-08-gallery {
    grid-area: block-08-gallery;
    background-color: #f8fcfe;
    height: 100%;
}
.block-08-gallery-images{
    max-width: 1170px;
    min-width: 1160px;
    overflow: hidden;
    margin-left: 15px;
}
.block-08-gallery-image{
    float: left;
    width: 370px;
    margin: 7px;
    overflow: hidden;
}
.block-08-img1 { height: 260px; }  .block-08-img2 { height: 247px; }  .block-08-img3 { height: 259px; }
.block-08-img4 { height: 373px; }  .block-08-img5 { height: 290px; }  .block-08-img6 { height: 296px; }
.block-08-img8 { height: 450px; }  .block-08-img9 { height: 380px; }
.block-08-gallery-button{
    display: block;
    margin: 15px auto;

}
.block-08-gallery-image-item {
    border: 5px solid transparent;
    box-sizing: border-box;
    cursor: pointer;
    filter: contrast(70%);
}
.block-08-gallery-image-item:hover {
    box-shadow: 0 10px 13px -7px black, 5px 5px 15px 5px rgba(255,119,119,0), inset 0 5px 0 0 white;
    border: 5px solid white;
    box-sizing: border-box;
    filter: none;
}

.block-08-gallery-image-item-little, .block-08-gallery-image-item-middle{
    border: 3px solid white;
    box-sizing: border-box;
}
.block-08-gallery-image-item-little {

    width: 117px;
    height: 84px;
    margin: 1px;
}
.block-08-gallery-image-item-middle{
    width: 181px;
    height: 165px;
}
.block-08-gallery-image-item-little:hover, .block-08-gallery-image-item-middle:hover{
    border: 3px solid white;
    box-sizing: border-box;
}
.grid-item--large {
    min-width: 90%;
    min-height: 800px;
    z-index: 5;
    margin: 4%;
}


.lines{
    width: 100px;
    margin: 30px auto 65px auto;
    height: 10px;
}
.line-01, .line-02{
    width: 74px;
    height: 2px;
    background-color: #18cfab;
    display: block;
    margin: 0 auto;
}
.line-01{ margin: 3px 0 3px 0; }  .line-02{ margin: 3px 0 3px 20px; }

.loading-prog-div{
    width: 200px;
    height: 30px;
    margin: 0 auto;
}
.loading-prog{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.sk-three-bounce {
    width: 20em;
    margin: auto;
    text-align: center;
}
.sk-three-bounce .sk-child {
    width: 15px;
    height: 15px;
    background-color: #18cfab;
    border-radius: 100%;
    display: inline-block;
    animation: sk-three-bounce 1.4s ease-in-out 0s infinite both;
}
.sk-three-bounce .sk-bounce-1 {
    animation-delay: -0.90s;
}
.sk-three-bounce .sk-bounce-2 {
    animation-delay: -0.64s;
}
.sk-three-bounce .sk-bounce-3 {
    animation-delay: -0.32s;
    background-color: #00cbf6;
}
.sk-three-bounce .sk-bounce-4 {
    animation-delay: -0.16s;
    background-color: #00cbf6;
}
.sk-three-bounce .sk-bounce-5 {
    animation-delay: -0.08s;
}
.sk-three-bounce .sk-bounce-6 {
    animation-delay: -0.04s;
    background-color: #00cbf6;
}
.sk-three-bounce .sk-bounce-6 {
    animation-delay: -0.02s;
    background-color: #00cbf6;
}
@keyframes sk-three-bounce {
    0%, 80%, 100% {
        transform: scale(0);
    }
    40% {
        transform: scale(1);
    }
}
.button-loadmore:before{
    content: "\f067";
    text-align: center;
    margin-right: 16px;
}
.block-01-header-button-01, .block-01-header-button-02, .block-04-justbuy-button, .block-05-ourwork-button, .block-08-gallery-button{
    width: 166px;
    height: 61px;
    border-radius: 5px;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    border: none;
    box-shadow: inset 0 5px 0 0 white;
    cursor: pointer;
    outline: none;
}
.block-01-header-button-01, .block-04-justbuy-button, .block-05-ourwork-button, .block-08-gallery-button{
    background-color: #18cfab;
}
/*button load more внизу біля футера*/
.button-click {

    cursor: pointer;
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
}
.button-click:focus {
    outline: 0;
}
.button-click:before, .button-click:after {
    position: absolute;
    content: '';
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
}
.button-click:active {
    transform: scale(0.9);
    filter: contrast(120%) brightness(60%);
}
.button-click:hover{
    transition: background-color ease-in-out 1s;
    background: #00cbf6;
}


/*----------------*/
.hide{
    display: none;
}
.clear{
    content: " ";
    display: block;
    clear: both;
}
/*-----------------------------------*/
.footer {
    width: 100%;
    height: 108px;
    background-color: #22353f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.text-footer {
    color: #aeaeae;
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
}
/*----------------------------------------------*/
.block-01-header-button-01:hover, .block-01-header-button-02:hover,
.block-04-justbuy-button:hover{
    box-shadow: 0 10px 13px -7px white, 5px 5px 15px 5px rgba(255,119,119,0), inset 0 5px 0 0 white;
}
.block-06-news-item:hover,.block-05-ourwork-button:hover,
.block-08-gallery-button:hover{
    box-shadow: 0 10px 13px -7px black, 5px 5px 15px 5px rgba(255,119,119,0), inset 0 5px 0 0 white;
}
.block-05-ourwork-divtab:hover, .block-03-services-divtab:hover{
    box-shadow: 0 10px 13px -7px black, 5px 5px 15px 5px rgba(255,119,119,0);
}