* {
    padding: 0;
    margin: 0;
}
.priceBlock {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 0;
    grid-row-gap: 10px;
    color: #F9F0DA;
    width: 450px;
    margin: 0 auto;

}

#inputPrice {
    grid-area: 2 / 1 / 3 / 6;
    background-color: #F9F0DA;
    color: #222f3a;
    padding: 10px;
    margin: 0 50px;
    border: 4px solid #264b96;
    font-size: 30px;
    overflow: hidden;
    border-radius: 8px;
}
#inputPrice:focus {
    outline:none;
}
#spanPrice {
    grid-area: 1 / 1 / 2 / 5;
    background-color: #F9F0DA;
    width: 300px;
    color: #222f3a;
    padding: 10px;
    margin: 20px 0 20px 50px;
    border: 4px solid #264b96;
    font-size: 20px;
    border-radius: 8px;
}

#clearPrice{
    grid-area: 1 / 5 / 2 / 6;
    margin: 20px 20px 20px 0;
    font-size: 20px;
    color: #F9F0DA;
    background-color: #557596;
    border: 4px solid #264b96;
    border-radius: 8px;
}

#redPrice{
    grid-area: 3 / 1 / 4 / 6;
    margin: 0 auto;
    font-size: 24px;
    color: red;
}