* {
    padding: 0;
    margin: 0;
}
ul {
    list-style: none;
    padding-left: 0;
}

.centered-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

#tabs {
    display: flex;
}

.tabs-title {
    padding: 20px;
    color: #717171;
    background-color: white;
    cursor: pointer;
    border: #b4b7ba solid 1px;
    text-transform: uppercase;
}

.tabs-title.active {
    background-color: #18cfab;
    color: white;
    position: relative;
}
.tabs-title.active:after  {
    content: "";
    position: absolute;
    bottom: -13px;
    left: 38%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 13px 12px 0 12px;
    border-color: #18cfab    transparent transparent transparent;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.tabs-content {
    width: 400px;
    padding: 20px 10px 10px 5px;
    border: #b4b7ba solid 1px;
    margin-top: 15px;
}