body {
    width: 100%;
    height: 100%;
    font-family: "Droid Sans", arial, verdana, sans-serif;
    color: yellow;
    background: url("https://s3.amazonaws.com/csstarwars/background.png");
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.image {
    width: 1000px;
    animation: disappearance 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    margin: 200px auto auto auto;
}

@-webkit-keyframes disappearance {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.episode {
    text-align: center;
    font-size: 200%;
}

.title {
    text-align: center;
    font-size: 200%;
}

#titles {
    position: absolute;
    width: 700px;
    height: 50em;
    bottom: 0;
    left: 30%;
    font-size: 350%;
    font-weight: bold;
    text-align: justify;
    overflow: hidden;
    transform-origin: 50% 90%;
    transform: perspective(300px) rotateX(30deg);
}

#titlecontent {
    position: absolute;
    top: 100%;
    animation: scroll 100s linear 0s infinite;
}

@keyframes scroll {
    0% {
        top: 100%;
    }
    100% {
        top: -170%;
    }
}