@media screen and (max-width: 980px) {
    .drop-item:hover{
        background-color: #f5f5f5;
    }

    .dropdown:hover .drop-menu{
        display: inline-block;
    }

    .dropdown:hover .fa-bars{
        display: none;
    }

    .dropdown:hover .fa-times{
        display: inline-block;
    }
}

@media screen and (min-width: 640px) {
    .top-nav {
        font-size: 24px;
    }

    .nav-text {
        padding: 23px 35px;
    }

    .dropdown {
        font-size: 28px;
        padding: 23px;
    }

    .drop-menu {
        top: 50px;
        width: 240px;
    }

    .drop-item {
        padding: 15px 25px;
    }

    header {
        font-size: 36px;
        padding: 25px 40px 198px;
    }

    .header-link a {
        font-size: 24px;
    }

    .link-block {
        font-size: 36px;
        height: 150px;
    }

    .link {
        line-height: 150px;
    }

    .chevron {
        line-height: 150px;
        font-size: 24px;
        padding: 0 60px;
    }
}


@media screen and (min-width: 980px) {
    .top-nav {
        align-items: center;
        padding: 8px 15px;
    }

    .nav-text {
        display: none;
    }

    .dropdown {
        background-color: #373c3f;
    }

    .dropdown .fas {
        display: none;
    }

    .drop-menu {
        display: flex;
        position: static;
        background-color: #373c3f;
        border: none;
        width: auto;
        font-family: "Lato", sans-serif;
        font-size: 15px;
    }

    .drop-item {
        padding: 10px 30px 10px 0;
        border: none;
        background-color: transparent;
        text-transform: uppercase;
        color: #ebebeb;
    }

    .logo {
        display: block;
        width: 110px;
        height: 80px;
    }

    header {
        font-size: 54px;
        padding: 65px 30px 245px;
    }

    .header-link {
        margin-top: 50px;
    }

    .header-link a {
        font-size: 34px;
    }

    .chevron {
        display: none;
    }

    .menu-links {
        display: flex;
    }

    .link-block {
        flex: 1;
        padding: 90px 0;
        height: auto;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .link-block.pizza {
        background-image: url("../img/pizza-fon_1200.jpg");
    }

    .link-block.salad {
        background-image: url("../img/salads-fon_1200.jpg");
    }

    .link-block.dessert {
        background-image: url("../img/desserts-fon_1200.jpg");
    }

    .link {
        background-image: none !important;
    }
}

@media screen and (min-width: 1200px) {
    header {
        font-size: 62px;
        padding: 50px 40px 355px;
    }

    .header-link a {
        font-size: 38px;
    }

    .link-block {
        font-size: 43px;
        padding: 120px 0;
    }

    .menu h2,
    .menu-section-header {
        font-size: 40px;
    }

    .post-header {
        font-size: 20px;
    }

    .menu-category-header {
        font-size: 30px;
    }

    .item-title {
        font-size: 27px;
    }

    .item-desc {
        font-size: 17.5px;
    }
}