* {
	font-family: "Lato", sans-serif;
}
.top-nav{
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	display: flex;
	justify-content: space-between;
	background-color: #373c3f;
	color: #fff;
	font-size: 12px;
}

.nav-text{
	padding: 11px 19px;
}

.dropdown{
	padding: 11px;
	background-color: #202529;
	font-size: 14px;
	position: relative;
}

.drop-menu{
	display: none;
	position: absolute;
	background-color: #fff;
	right: 0;
	top: 36px;
	color: #000;
	width: 180px;
	border: 1px solid #f4f4f4;
	font-family: "Lato", sans-serif;
	font-size: 12px;
}

.drop-item{
	padding: 9px;
	border: 1px solid #f4f4f4;
	background-color: #fafafa;
}

.dropdown .fa-times{
	display: none;
}

.logo{
	display: none;
}

header{
	color: #fff;
	background-image: url("../img/header-fon_1200.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	padding: 18px 20px 91px;
	margin-bottom: 4px;
}

.header-text{
	margin-bottom: 8px;
}

.header-link a{
	font-size: 14px;
	color: #a6d6e0;
	text-decoration: none;
}

.link-block{
	display: flex;
	color: #fff;
	text-decoration: none;
	margin-bottom: 2px;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	font-size: 20px;
	height: 75px;
}

.link{
	flex: 1;
	text-align: center;
	line-height: 75px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top right;
}

.chevron{
	background-color: #acd8ad;
	line-height: 75px;
	font-size: 13px;
	padding: 0 31px;
}

.link-block.pizza .link{
	background-image: url("../img/pizza-fon_640.jpg");
}

.link-block.salad .link{
	background-image: url("../img/salads-fon_640.jpg");
}

.link-block.dessert .link{
	background-image: url("../img/desserts-fon_640.jpg");
}
/************B L O C K   M E N U*****************/

.block-menu__text {
	font-size: 20px;
	text-transform: uppercase;
	color: #3f4043;
	margin-top: 23px;
	margin-left: 8px;
	font-family: 'Lato', sans-serif;
}
.block-menu__text-small {
	font-size: 10px;
	font-weight: 400;
	margin-left: 8px;
	margin-bottom: 13px;
	color: #cbccce;
}
.block-menu__block-dark {
	display: flex;
	align-items: center;
	background-color: #3f4043;
	height:37px ;
}
.block-menu__block-dark__text {
	color: #acd8ad;
	text-transform: uppercase;
	font-size: 20px;
	margin-left: 19px;
}
.block-icon {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-top: 11px;
}
.block-icon__text {
	color: #3f4043;
	text-transform: uppercase;
	font-size: 15px;
}
.block-icon__icon {
	margin-left: 76px;
	width: 25px;
}
.menu-item {
	display: flex;
	flex-direction: column;
	color: #3f4043;
	margin-top: 17px;
}
.menu-item__box {
	display: flex;
	justify-content: space-between;
}
.menu-item__text-left {
	margin-left: 18px;
	font-size: 14px;
}
.menu-item__text-right {
	margin-right:18px;
	font-size: 13px;
}
.menu-item__text-bottom {
	font-size: 9px;
	margin-left: 18px;
	margin-right: 18px;
	text-align: left;
	margin-top: 7px;
	line-height: 1.2;
}
.menu-item2 {
	margin-top: 10px;
}
.menu-item2__text-bottom {
	font-size: 9px;
	margin-left: 18px;
	margin-right: 18px;
	text-align: left;
	margin-top: 5px;
	line-height: 1.2;
}
/* для іконки вина*/
.block-wine {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 15px;
	font-size: 14px;
	font-family: "Lato", sans-serif;
	font-weight: 500;
}
.block-icon__text2 {
	color: #3f4043;
	text-transform: uppercase;
	font-size: 15px;
}
.block-wine__img {
	height: 23px;
	margin-left: 84px;
}

.block-menu__block-green {
	display: flex;
	align-items: center;
	background-color: #acd8ad;
	height:37px ;
	margin-top: 31px;
}
.block-menu__block-green__text {
	color: white;
	text-transform: uppercase;
	font-size: 20px;
	margin-left: 18px;
}
/*********HOT-DRINK************/
.block-icon__hot-drink {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 14px;
}
.block-icon__hot-drink_img {
	margin-left: 79px;
	width: 30px;
	height: 21px;
}
/***********COLD DRINK***********/
.block-cold-drink {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 17px;
}
.block-cold-drink__img {
	margin-left: 53px;
	width: 30px;
	height: 21px;
}


/********F O O T E R******/
.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 55px;
	background-color: #acd8ad;
	color: white;
	align-items: center;
	margin-top: 48px;
	font-size: 14px;

}
.footer__text1 {
	font-size: 14px;
	font-family: "Lato", sans-serif;
	font-weight: 500;
}
.footer__text2 {
	margin-top: 5px;
	font-size: 14px;
	font-family: "Lato", sans-serif;
	font-weight: 500;
}