* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    margin: 0 auto;
    font-family: sans-serif;
    overflow: hidden;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    background-color: #1d2124;
    text-align: center;
    vertical-align: center;
    align-items: center;
}

.class-logo {
    display: flex;
}

.logo-block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    background-color: #1a1d20;
}

.p-architect {
    display: flex;
    align-items: center;
}

.a-logo {
    padding: 24px 0;
    color: white;
    font-size: 22px;
    text-decoration: none;
    transition-property: color;
    transition-duration: 500ms;
}
.a-logo:hover {
    color: #3cb878;
}

.menu-panel {
    color: white;
    text-decoration: none;
}

.a-items {
    text-transform: uppercase;
    color: white;
    font-size: 15px;
    text-decoration: none;
    padding: 0 13px;
    transition-property: color;
    transition-duration: 500ms;
}
.a-items:hover {
    color: #3cb878;
}

.search-block {
    display: flex;
    align-self: end;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    background-color: #1a1d20;
}

/* --------- header---------------*/
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: center;
    height: 375px;
    width: 100%;
    background-image: url("../img/header-bg.jpeg");
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 100%;
    background-attachment: fixed;
}

.p-header {
    font-size: 27px;
    color: white;
    margin-bottom: 44px;
}

.buttons {
    display: flex;
}

.a1-header {
    width: 170px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    background-color: #89ca62;
    color: white;
    text-decoration: none;
    margin-right: 20px;
    border-radius: 6px;
}

.a2-header {
    width: 170px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    background-color: #14b9d5;
    color: white;
    text-decoration: none;
    border-radius: 6px;

}

/*-----------Animation--------*/
@keyframes heartBeat {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    14% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }

    28% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    42% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }

    70% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
.a1-header:hover {
    -webkit-animation-name: heartBeat;
    animation-name: heartBeat;
    -webkit-animation-duration: 1.3s;
    animation-duration: 1.3s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}
.a2-header:hover {
-webkit-animation-name: heartBeat;
animation-name: heartBeat;
-webkit-animation-duration: 1.3s;
animation-duration: 1.3s;
-webkit-animation-timing-function: ease-in-out;
animation-timing-function: ease-in-out;
}
/*------------popular post-------------*/
.section-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F2F2F2;
}

.post-title {
    font-size: 27px;
    font-weight: bold;
    color: #18b4cf;
    text-transform: uppercase;
    margin-top: 60px;
    margin-bottom: 53px;
}

.popular-posts {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 1180px;
    height: 840px;
}

.image-post {
    display: block;
}

.post {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.text-post {
    display: flex;
    color: black;
    font-size: 18px;
    width: 370px;
    height: 60px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-color: #FFFFFF;
}

.margin-post {
    margin-bottom: 32px;
}

/*------------паралах контейнер---------*/
.class-aurmost {
    display: grid;
    grid-template-rows: 281px 60px auto;
    justify-items: center;
    height: 590px;
    width: 100%;
    background-image: url("../img/parallax-bg.jpeg");
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 100%;
    background-attachment: fixed;
}

.class-title {
    height: 32px;
    color: white;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: bold;
    margin-top: 200px;

}

.line {
    box-sizing: border-box;
    width: 60px;
    height: 3px;
    background: #169cb4;
}

.brands {
    display: grid;
    width: 890px;
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
}

/*--------TOP RATED------------------*/
.section-toprated {
    height: 350px;
    display: grid;
    justify-items: center;

}

.p-toprated {
    font-size: 27px;
    text-transform: uppercase;
    color: #18b4cf;
    margin-top: 63px;
    margin-bottom: 52px;
    display: inline-block;
}

.section-image {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
}

.latest-img {
    display: block;
}

/*---------------------most liked pos list-------------*/
.most-liked-post-list {
    height: 1683px;
    width: 100%;
    display: inline-grid;
    justify-items: center;

}

.hot-news {
    font-size: 27px;
    text-transform: uppercase;
    color: #18b4cf;
    margin-top: 60px;
    margin-bottom: 51px;
}

.post-1 {
    box-sizing: border-box;
    display: grid;
    width: 1170px;
    height: 259px;
    grid-template-columns: 856px 277px;
    justify-content: space-between;
}

.most-section1 {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    text-align: center;
}

.box1 {
    background-color: #f9f7f7;
}

.most-p-title1 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 41px;
    margin-bottom: 22px;
}

.box2 {
    background-color: #f9f7f7;
}

.img-post-block {
    display: block;
}

.class-nebula {
    font-weight: bold;
    text-align: center;
    margin-top: 16px;
}

.post-2 {
    display: grid;
    width: 1170px;
    height: 418px;
    grid-template-columns: 554px 554px;
    justify-content: space-between;
    margin-top: 42px;
    margin-bottom: 42px;
}

.box3 {
    background-color: #f9f7f7;
    text-align: right;
}

.box4 {
    background-color: #f9f7f7;
    text-align: right;
}

.most-p-title2 {
    font-size: 18px;
    font-weight: bold;
    margin: 20px auto;
}

.post-3 {
    display: grid;
    width: 1170px;
    height: 416px;
    grid-template-columns: 554px 554px;
    justify-content: space-between;

}

.box-5 {
    background-color: #f9f7f7;
    text-align: right;
}

.most-p-title3 {
    font-size: 18px;
    font-weight: bold;
    margin: 20px auto;
}

.box-6 {
    background-color: #f9f7f7;
    text-align: right;
}

.margin-right {
    margin-right: 27px;
}

.post-4 {
    display: grid;
    width: 1170px;
    height: 259px;
    grid-template-columns: 277px 856px;
    justify-content: space-between;
    margin-top: 43px;
    margin-bottom: 71px;
}

.box7 {
    background-color: #f9f7f7;
    text-align: center;
    height: 259px;
}

.box7-p {
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
}

.box-8 {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #f9f7f7;
    text-align: right;
}

.most-p-title4 {
    font-size: 18px;
    font-weight: bold;
    margin: 20px 27px 20px 0;
}
.padding-left-right {
    padding-right: 22px;
    padding-left: 22px;

}

/*----------FOOTER----------------*/
.footer {
    width: 100%;
    height: 80px;
    background-color: #1d2124;
    display: grid;
    grid-template-columns: 1170px;
    justify-content: center;
    align-items: center;
}

.footer-text {
    color: white;
    font-size: 13px;
}

.class-footer-box {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}




